* {
  padding: 0px;
  margin: 0px;
  font-family: popins;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainBg {
  background: linear-gradient(110deg, #8a98d5c5 60%, #e5eaf5 60%);
  height: 100vh;
}

.Bg-color {
  display: flex !important;
  flex-direction: row !important;
  border-radius: 20px;
}
.bg {
  background-color: #d0bdf4;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  width: 750px !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1f2833;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
}

.heading {
  color: #080808bc;
  margin-top: 0px;
  margin-bottom: 20px;
}
.headings {
  color: #1f2833;
  margin-bottom: 10px;
}
.app-heading {
  margin-top: 100px;
  color: #080808bc;
}
.main-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

span {
  color: #d0bdf4;
  cursor: pointer;
}

.Table {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px auto;
  padding-bottom: 67px;
  width: 90%;
}
.user-table {
  background: rgba(255, 255, 255, 0.55);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.275);
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(153, 153, 153, 0.175);
  width: 100%;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 5px 0;
}
.Dheading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.moneymangerLogo {
  width: 75px;
  margin: 10px 0px 5px 20px;
}
.moneymanagerHaeding {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 0 0 0 8px;
  margin: 28px 0 0 0;
  font-size: 2rem;
}
.subDhead {
  position: absolute;
  top: 67px;
  left: 208px;
  font-size: 1rem;
}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 10px;
  margin-top: 25px;
  margin-left: 130px;
  width: 80%;
}

.imggif {
  width: 550px;
  border-radius: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.tablerow {
  display: flex;
  height: 25%;
}

.Tablecontainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  height: 380px;
  scroll-behavior: smooth;
  scroll-snap-type: x none;
}

.message {
  color: "#6a329f" !important;
  margin-top: 5px;
  margin-left: 17px;
}
.addnewbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;

  justify-content: center;
  align-items: center;
}
.addNew {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(79, 79, 79);
  position: relative;
  padding: 0%;
  margin: 0 10%;
}
@media screen and (max-width: 1308px) {
  .speeddail {
    display: none !important;
  }
  .box {
    width: 80% !important;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .moneymanagerHaeding {
    margin-top: 15px;
    font-size: 1.5rem;
  }
  .subDhead {
    position: absolute;
    top: 45px;
    left: 208px;
    font-size: 0.8rem;
  }
  .container {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .mainBg {
    background: linear-gradient(110deg, #8a98d5c5 60%, #e5eaf5 60%);
    height: auto;
  }
  .Bg-color {
    flex-direction: column !important;
    height: auto;
  }

  .bg {
    width: 100% !important;
    margin: 15px;
  }

  .Table {
    flex-direction: column;
    margin: 25px 15px 0 15px !important;
  }

  .Tablecontainer {
    height: auto !important;
  }
  .imggif {
    display: none;
  }
  .speeddail {
    display: none !important;
  }
  .box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80% !important;
    margin: auto;
  }
}
